@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All of the Aboves</h1>
        <div class="w3-card-4">
        <img src="https://images7.alphacoders.com/546/546508.jpg" alt="Alps" style="height:contain" width="500px">
        <div class="w3-container w3-center">
            <h2>The Mt. Everest</h2>
            <p><i><q>Climbing to the top demands strength, whether it is to the top of Mount Everest or to the top of your career.</q></i></p>
         </div>

        <img src="https://theillusionofmemories.files.wordpress.com/2022/04/studio-ghibli-nature-landscape-the-wind-rises-colorful-hd-wallpaper-preview.jpg" alt="Alps" style="height:contain" width="500px">
        <di v class="w3-container w3-center">
               <h2>The Wind Rises</h2>
            <p><i><q>inspiration unlocks the future.</q></i></p>
         </div>

        <img src="https://media.tenor.com/yPUAJMwL2uwAAAAC/gigachad.gif" alt="Alps" style="height:contain" width="500px">
          <div class="w3-container w3-center">
            <h2>The Tenth</h2>
                 <p><i><q>Dream as if you'll live forever. Live as if you'll die today.</q></i></p>
          </div>

        <img src="https://coconuts.co/wp-content/uploads/2016/11/0118-raymonddiong.jpg" alt="Alps" style="height:contain" width="500px">
          <div class="w3-container w3-center">
              <h2>Bulalo</h2>
                 <p><i><q>Still didn't get his bulalo.</q></i></p>
           </div>

     <img src="https://media.tenor.com/ryPE1xzKn70AAAAC/rizz-face.gif" alt="Alps" style="height:contain" width="500px">
          <div class="w3-container w3-center">
           <h2>---</h2>
                <p><i><q>Ang Gulay kay good for the health, Ako good for your Heart.</q></i></p>
           </div>

        <img src="https://media.tenor.com/mtiOW6O-k8YAAAAM/shrek-shrek-rizz.gif" alt="Alps" style="height:contain" width="500px">
          <div class="w3-container w3-center">
        <h2>Shrek</h2>
               <p><i><q>Ang kainit karun panahona makaya ra, pero ang akong kamingaw nimo dli na maagwanta.</q></i></p>
           </div>

        <br/>
     @Html.ActionLink("Return to main", "Index", "Home")
</div>
