@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Daisy</h1>
    <h1> The Kardashian</h1>
     <div style="padding-top: 50px; padding-right: 30px;  padding-left: 80px; border-style: groove;">
        <h2>Kardashian Family</h2>
        <img src="https://www.billboard.com/wp-content/uploads/media/Keeping-Up-with-the-Kardashians-press-photo-e-2017-billboard-1548.jpg" style=" width="600" height="400" />
        <p style="text-align : justify;">  The Kardashian family, also referred to as the Kardashian–Jenner family, is an American family prominent in the fields of entertainment, reality television, fashion design, and business. Through different ventures, several members of the family have assets of over a billion dollars </p>
     </div>
    <div style="padding-top: 50px; padding-right: 30px;  padding-left: 80px; border-style: groove;">
        <h2>Kendall Jenner</h2>
        <img src="https://parade.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAxMjg3MzM5NDg4NTg1MjQz/kendall-jenner-fans-concerned-new-bedroom-pic-paris-bedbugs-ftr.png" style=" width="600" height="400" />
        <p style= "text-align : justify;">  Kendall Nicole Jenner is an American model, media personality, socialite and businesswoman. She is a daughter of Kris Jenner and Caitlyn Jenner, and rose to fame in the reality television show Keeping Up with the Kardashians, in which she starred for 20 seasons and nearly 15 years from 2007 to 2021 </p>
     </div>
    <div style="padding-top: 50px; padding-right: 30px; padding-bottom: 20px; padding-left: 80px;  border-style: groove;">
        <h2>Kylie Jenner</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Kylie_Jenner_in_2021.jpg" style=" width="600" height="400" />
        <img src="https://ntvb.tmsimg.com/assets/assets/532961_v9_bd.jpg" style=" width="600" height="400" />
        <p style= "text-align : justify;">  Kendall Nicole Jenner is an American model, media personality, socialite and businesswoman. She is a daughter of Kris Jenner and Caitlyn Jenner, and rose to fame in the reality television show Keeping Up with the Kardashians, in which she starred for 20 seasons and nearly 15 years from 2007 to 2021 </p>
       </div>
     
        
       
      
 

     @Html.ActionLink("Return to main", "Index", "Home")
</div>



   