@using System.Resources;
@{

    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
    <h1 class="mt-5">xQc</h1>
    <hr>
    <p>
            <b>Félix Lengyel</b>, better known as <b>xQc</b> (formerly <b>xQcOW</b>), is a Canadian online streamer and former professional Overwatch player.<br /><br />
            While he is widely recognized for his streaming career, Lengyel initially gained recognition as a professional Overwatch player. His esports career began in 2016, during which he also started streaming regularly. He joined the Dallas Fuel, a team competing in the inaugural season of the Overwatch League, in late 2017. However, his time with the Dallas Fuel was marred by controversy, resulting in repeated suspensions and ultimately his release from the team midway through the season. Additionally, Lengyel represented Team Canada in the Overwatch World Cup from 2017 to 2019.<br /><br />
        Following his departure from competitive Overwatch, Lengyel shifted his focus to a full-time streaming career on Twitch. During this period, he also signed with several esports organizations, such as Sentinels and Luminosity Gaming, as a content creator. Throughout his streaming career, Lengyel has faced several bans and suspensions on Twitch for violating platform guidelines. These incidents involved showing explicit content, making offensive remarks, and engaging in stream sniping. Despite these controversies, Lengyel maintained a large and dedicated fanbase, consistently attracting high viewership numbers. He achieved the distinction of being the most-watched streamer on Twitch for three consecutive years, from 2020 to 2022. In June 2023, Lengyel signed a two-year, non-exclusive $100 million deal to stream on Kick. <br />
    </p>

    <h4>Career</h4>
    <hr>
    <h4><b>Early streaming</b></h4>

    <p>After finishing high school, Lengyel enrolled in a CEGEP, studying business administration until dropping out in second year after feeling "directionless". At the age of 19, Lengyel subsequently began streaming on the platform Twitch, where he initially played League of Legends (LoL) under the pseudonym xQcLoL. The name "xQc" was derived from the last letter of his first name, "x," combined with the abbreviation for his home province of Quebec, "QC". As his streaming career progressed, Lengyel gained recognition and prominence primarily through his involvement with Overwatch, a video game developed by Blizzard Entertainment. Consequently, he adjusted his alias to xQcOW to reflect his association with Overwatch.</p>
    </br>

    <h4><b>Esports</b></h4>
     <p>Lengyel embarked on his professional esports career in Overwatch by initially competing in smaller online tournaments as a tank player for teams such as DatZit Gaming.[2] In October 2016, he was recruited by Denial Esports, a prominent multi-game esports organization. However, after a brief period, Denial disbanded, leading Lengyel and his former teammates to form an independent roster called Yikes, which later underwent a name change to Arc 6. During their tenure, the team participated in Season Zero of Overwatch Contenders, where Lengyel's competitive drive appeared to reach unhealthy levels. He acknowledged prioritizing gaming over fundamental aspects of life, such as sleep, nutrition, and personal relationships, and he would dedicate all of his time to playing ranked matches to regain confidence following subpar performances. Lengyel also had the opportunity to represent Team Canada in the 2017 Overwatch World Cup. The team reached the tournament finals before ultimately being defeated by the reigning champions, South Korea. Despite the loss, Lengyel was named the event's most valuable player.</p>
    </div>

    <div class="col">
        <div class="text-center">
            <div class="mt-5" style="padding: 10px; border: 2px solid black;">
            <h3>xQc</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/XQc_July_4_2023.jpg" width="70%" height="70%" class="img-thumbnail"/>
            <p>Lengyel in 2023</p>

            <p>
                <b>Born</b>	Félix Lengyel<br />
                November 12, 1995 (age 27)<br />
                Laval, Quebec, Canada<br />
            </p>

            <p class="text-center font-weight-bold">Twitch information</p>

            <p>
                    <b>Channel</b>     <a href="https://www.twitch.tv/xqc">xQc</a><br />
                <b>Years active</b>	2014–present<br />
                <b>Followers</b>	11.9 million<br />
            </p>

            <p class="text-center font-weight-bold">Kick information</p>

            <p>
                    <b>Channel</b>	    <a href="https://kick.com/xqc">xQc</a><br />
                <b>Years active</b>	2023–present<br />
                <b>Followers</b>	533 thousand<br />
            </p>

            <p class="text-center font-weight-bold">YouTube information</p>

            <p>
                <b>Channel</b> <a href="https://www.youtube.com/channel/UCmDTrq0LNgPodDOFZiSbsww">xQc</a><br />
                <b>Years active</b>	2015–present<br />
                <b>Subscribers</b>	2.31 million<br />
                <b>Total views</b>	1.59 billion<br />
            </p>

            <p class="text-center font-weight-bold">Creator Awards</p>

            <p class="text-center font-weight-bold">Career information</p>

            <p>
                <b>Game</b>	Overwatch<br />
                <b>Playing career</b>	2016–2019<br />
                <b>Role</b>	Tank<br />
            </p>

            <p class="text-center font-weight-bold">Career highlights and awards</p>
            <p>
                OWWC Most Valuable Player (2017)<br />
            </p>
            </div>

            <iframe width="420" height="315" class="mt-5"
                    src="https://www.youtube.com/embed/dhn5Co1-yYQ?si=mZ9fI9Wvno66t0tu">
            </iframe>

            <img src="https://cdn.7tv.app/emote/628d8b64ed0a40a5ec5f4810/4x.webp" class="mt-2"/>
            <img src="https://cdn.7tv.app/emote/60b02e96aecc11e86c78b79d/4x.webp" class="mt-2" />
            <img src="https://cdn.7tv.app/emote/6284f52464619b37b7519018/4x.webp" class="mt-2" />
        </div>
    </div>
</div>

<div class="text-center">
@Html.ActionLink("Return to main", "Index", "Home")
</div>
