@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Seulgi</h1>
    <div style="text-align: center;">
        <img src="https://image.kpopmap.com/2023/03/Red-Velvet-Seulgi.jpg" />
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Full name:</b> Kang Seul Gi
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Native name:</b> 강슬기
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Birthday:</b> Feb 10, 1994
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Age:</b> 29 years old
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Blood type:</b> A
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Height:</b> 5'4" (161 cm)
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Weight:</b> 97 lbs (44 kg)
    </div>


    <p style="text-align: justify;">
        <b>Seulgi</b> (Korean name: Kang Seul-gi; Hangul: 강슬기) is a South Korean singer. Seulgi began training at SM Entertainment in 2007.
        On December 2, 2013, she was one of the first three trainees introduced to the public through SM Entertainment's pre-debut project, SM Rookies.
        On August 1, 2014, Seulgi made her debut as a member of Red Velvet.
    </p>

    <p style="text-align: justify;">
        <b>Seulgi</b> debuted in Red Velvet's first sub unit Red Velvet - Irene & Seulgi on July 6, 2020, with their first mini album "Monster."
    </p>

    <p style="text-align: justify;">
        She made her debut as a member in the unit GOT the beat from the project girl group Girls On Top on January 3, 2022.
    </p>

    <p style="text-align: justify;">
        She made her solo debut on October 4, 2022, with the mini album "28 Reasons" consisting of six tracks.
        She's the third member of Red Velvet to be a soloist after Wendy and Joy.
    </p>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Agency:</b> SM Entertainment
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Debut:</b> Aug 1, 2014
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Debut to 1st win:</b> 238 days
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Current state:</b> Active
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Active years:</b> 2014-present
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Zodiac-sign:</b> Aquarius
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Language(s):</b> Korean, Japanese
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Training period:</b> 7 years
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>Education:</b> Seoul School of Performing Arts
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>MBTI:</b> ISFP
    </div>

    <div style="text-align: center; margin-bottom: 10px;">
        <b>kpopping rank:</b> 34th
    </div>

    @Html.ActionLink("Return to main", "Index", "Home")
</div>
